.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header-ul {
  display: flex;
  list-style: none;
  gap: 60px;
}

.header-li {
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-a {
  text-decoration: none;
  color: #6f8798;
  font-family: "inter", sans-serif;
  font-size: 20px;
}
.header-a1 {
  text-decoration: none;
  font-size: 16px;
  padding: 24px;
  border-radius: 50px;
  background-color: #1aa7d9;
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-input {
  width: 0;
  padding: 0;
  border: none;
  opacity: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease,
    padding 0.3s ease;
}

.search-input.aberto {
  width: 400px;
  padding: 12px;
  border: 1px solid #1aa7d9;
  border-radius: 50px;
  opacity: 1;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.fi-rs-search {
  font-size: 20px;
}
